<! DOCTYPE <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>cours github</h1>
        <h2>Version 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorem illo dignissimos pariatur vitae eaque minima officia mollitia delectus aperiam repudiandae vero eligendi dolor obcaecati enim veritatis illum facilis et minus officiis magni, sed ratione neque aspernatur! Atque eligendi praesentium velit delectus ipsam nam obcaecati totam nobis voluptatum, sit doloribus tenetur voluptate quae labore magni ex dolor? Doloremque itaque nam quam deserunt rem quaerat accusantium dolorum recusandae? Fuga voluptas blanditiis aliquid, vel sequi consequatur expedita laborum quae esse recusandae autem ab asperiores voluptatem, a debitis omnis veritatis, pariatur ea! Minus quibusdam, facere ipsum itaque reprehenderit maxime nulla cupiditate consectetur sint nobis nostrum? Architecto animi modi similique inventore exercitationem laboriosam laudantium maxime debitis quibusdam quis earum quae velit in odio dolor, totam consequatur facere cum cupiditate ea eveniet delectus fuga. Dicta suscipit eius corporis quas praesentium impedit consequuntur, quo fugiat. Quaerat quas expedita asperiores tempore quisquam iure doloribus maiores. Harum placeat, ab quod fugiat nulla debitis eos ad culpa praesentium deleniti? Officiis natus deserunt placeat, corrupti cumque eius cupiditate quia non ex adipisci quidem atque. Dolorum officia vero labore recusandae obcaecati odio deleniti consequatur. Nemo id blanditiis, corrupti doloribus eius, natus sequi distinctio consequatur commodi modi quia molestiae iure molestias ipsum culpa fugiat. Nisi assumenda nihil cum maxime reiciendis fugit corporis nostrum cupiditate incidunt ipsum ipsam excepturi molestias, doloremque libero quam vel suscipit! Consectetur nisi doloremque praesentium corporis reprehenderit doloribus dolorem. Aliquam ratione optio veniam quae! Eos adipisci deleniti inventore ex aspernatur? Minima officia accusamus, nemo exercitationem ex blanditiis. Nesciunt, natus! Dicta maxime qui reiciendis corrupti earum vel molestiae ex aspernatur consequatur ab rerum commodi optio, nostrum nesciunt sint dolorum cupiditate cum similique veritatis voluptatum minima ad nulla dolor? Praesentium vero doloremque amet officiis ex dolor blanditiis est libero explicabo! Nobis sunt quaerat totam eum laudantium obcaecati mollitia suscipit, nostrum sint sapiente, tenetur exercitationem et magni reprehenderit ad quia corrupti! Rem molestias quod esse hic saepe, fugiat excepturi suscipit repellendus, nihil voluptas quasi consequuntur voluptatem quae. Voluptatem necessitatibus similique inventore dignissimos porro voluptatum, sint quod iusto quam veniam commodi autem quae mollitia alias a in, doloribus quia, suscipit minus ad magni repellat. Vel eveniet, soluta error commodi, sit accusantium doloremque similique vero optio natus dolore corrupti minima tempora aliquid ducimus ea accusamus libero, molestias suscipit quo esse! Libero sit voluptatem laboriosam, et minus impedit molestiae asperiores voluptatum expedita, magni excepturi commodi eos maxime beatae? Dolor quo temporibus alias cumque officiis illo quod repellendus asperiores maiores deserunt debitis, ea omnis tempora, at tempore?</p>
        
        <script src="" async defer></script>
    </body>
</html>>